:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
}


/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}

/* Nav Bar */
nav {
    display: flex;
    gap: 8px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.lib {
    font-size: 30px;
    margin-left: 1vw;
}

.nav-btn:hover {
    filter: brightness(200%);
}

.nav-btn {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid white;
    margin-left: auto;
    margin-right: none;
}

.page-btn {
    margin-right: 2vw;
}

/* Form */

hr {
    border: 1px solid white;
}

button,
input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
    appearance: none;
}

button {
    background-color: var(--white);
    color: var(--black);
}

input,
label {
    margin: 5px 20px;
}

input {
    border: solid 1px white;
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 300px;
    height: 30px;
    padding: 10px;
}

label {
    font-size: 20px;
}

input[type = "text"],
input[type = "number"] {
    cursor: text;
}

input[type = "checkbox"] {
    appearance: none;
    background-color: white;
    width: 0.75em;
    height: 0.75em;
    display: flex;
    border: 1px solid white;
}

input[type = "checkbox"]::before {
    background-color: white;
}

input[type = "checkbox"]:checked::before {
    background-color: black;
}

input[type="checkbox"] {
    appearance: none;
    font-size: 2rem;
    width: 0.5em;
    height: 0.5em;
    padding: 0.1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
  }
  
input[type="checkbox"]:checked {
    background-color: green;
}

input[type="checkbox"]:hover {
    color: black;
}

form {
    margin: 1em 3rem;
}

.form-container {
    border: 1px solid white;
    border-radius: var(--border-radius);
}

fieldset {
    border-radius: var(--border-radius);
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}

legend {
    margin: auto 20px;
}


/* Utils */

.container {
    max-width: var(--container-width);
    padding: var(--spacing-lg);
    margin: 0 auto;
}

.btn,
.nav-btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: filter 0.15s ease-in-out;
}

.btn:hover {
    filter: brightness(75%);
}

.btn-light-green {
    background-color: var(--light-green);
    margin: 100px 20px 5px;
}

/* Books */

.empty-msg {
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
}